<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
	<div class="headDiv">
		<h1 style="margin-left:50px;">
			
			<br/>Registration Page
		</h1>
		<a href="/login" style="margin-left:900px;">Have an account? </a>
		<a href="#" style="margin-left:10px;">About</a>
	</div>
	<div class="divBorder">
		<form method="post"> 
			name: <input type="text" name="name" > <br>
			Mail: <input type="email" name="mail" ><br><br>
			<input type="submit" name="regiBtn" value="register now!" >
		</form>
	</div>
</body>
</html>