body{
	background-color: rgb(12, 237, 203);
}

a{
	text-decoration:none;
}
.headDiv{
	height:150px;
	background-color:dodgerblue;
	margin-top:0px;
}

.divBorder{
	width:50%;
	margin-top:60px;
	background-color:transparent;
	border-radius:20px;
	border:2px solid black;
	padding:20px;
	text-align:center;
}