<!DOCTYPE html>
<html>
<head>
	<title>Restaurant Registration Page - KhadokZone</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
	<div class="headDiv">
		<h1 style="margin-left:50px;">
			
			<br/>Restaurant Registration Page - khadokZone
		</h1>
		<a href="/home" style="margin-left:900px;">Back to Home </a>
		<a href="#" style="margin-left:10px;">| &nbsp About</a>
	</div>
	
	<center>
		<div class="divBorder">
			<form method="post"> 
				Restaurant Name: <input type="text" name="name" > <br><br>
				Restaurant Location: <input type="text" name="loc" ><br><br>
				<label for="star">Rate this Restaurant:</label>

				<select id="star" name="star">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				</select><br><br>
				<input type="submit" name="regiBtn" value="Register This Restaurant Now!" >
			</form>
		</div>
	</center>
</body>
</html>