<!DOCTYPE html>
<html>
<head>
	<title>Login - KhadokZone</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
	<div class="headDiv">
		<h1 style="margin-left:50px;">
			
			<br/>Login Page - KhadokZone
		</h1>
		<a href="/register" style="margin-left:900px;">Register account</a>
		<a href="#" style="margin-left:10px;">| &nbsp About</a>
	</div>
	<center>
	<div class="divBorder">
		<form method="post"> 
		User Name: <input type="text" name="uname" > <br><br>
		Password : <input type="password" name="password" ><br><br>
		<input type="submit" name="submit" value="Log IN" >
	</form>
	</div>
	</center>
</body>
</html>